<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery">
    <pipelines>
      <forms.renderForm>
        <processor type="Sitecore.Support.ExperienceForms.Mvc.Pipelines.RenderForm.SetLanguage, Sitecore.Support.234709" resolve="true" patch:before="processor[@type='Sitecore.ExperienceForms.Mvc.Pipelines.RenderForm.BuildForm, Sitecore.ExperienceForms.Mvc']"/>
      </forms.renderForm>
    </pipelines>
  </sitecore>
</configuration>